@charset "UTF-8";

/*common.css*/

*{margin: 0 auto;}

/*모든 컨텐츠를 포함 wrap box*/
#wrap {
	margin:0 auto;
	text-align:center;
	color:#2B2B2B;
	background-size: 100% 100%;
	transition:.5s;
	
}


/* 모든 <img> 태그 테두리 없음*/
img{border: 0;margin: 0;}



#footerBox div {
	background-color:#1C2938;
	border:solid 1px #ffffff;	
	padding:20px;
	margin:0;
}
#footerBox ul li{
	display:inline;
	text-decoration:none;
}
#footerBox ul li a{
	
	text-decoration:none;
	color:#fff;
}

#moveToTop{
	width: 100px;
	height: 100px;
}

#moveToTop:hover{
	opacity: 0.8;
	cursor: pointer;
}














