@charset "UTF-8";

.intro_bg{
	background: url('../image/festival6.jpg')  fixed;
	width:100%;	
	height:718px	 
}

body{
	width:100%;
	min-height:100vh;
	background:#e1e6ec;
	user-select:none;
}


 #logoBox {
    float: left;
    margin:0;
    
} 
 #headerBox{
	display:flex;
	justify-content:space-between; 
	align-items:center;
	
	
}

#topMenuBox a{
	text-decoration:none;
	display:inline; 
	padding-left:30px;
	border-radius:50px;	
	padding:8px 14px;
	background:#e1e6ec;
	color:#1C2938;
	box-shadow:3px 3px 10px 1px rgba(0, 0, 0, .2),
			   -3px -3px 10px 1px rgba(240, 240, 240, 1);
}

#topMenuBox a:hover{
	box-shadow:inset 3px 3px 10px 1px rgba(0, 0, 0, .2),
			   inset -3px -3px 10px 1px rgba(255, 255, 255, 1);
}
.search input{
	outline:none;
	border:none;
	border-radius: 5px;
}
.search button{
	outline:none;
	border:none;
	font-weight: bold;
	text-decoration:none;
	display:inline; 
	padding-left:30px;
	border-radius:50px;	
	padding:10px 16px;
	background:#e1e6ec;
	color:#1C2938;
	box-shadow:3px 3px 10px 1px rgba(0, 0, 0, .2),
			   -3px -3px 10px 1px rgba(240, 240, 240, 1);
}

.search button:hover{
	box-shadow:inset 3px 3px 10px 1px rgba(0, 0, 0, .2),
			   inset -3px -3px 10px 1px rgba(255, 255, 255, 1);
}

#logoImg{
	height: 60px;
}
h2{
	font-size:6em;
	width:350px;
	color:#fff;
	font-family:sans-serif;
	position:absolute;
	top:150px;
	left:100px;
	animation:slide 2s ease-out;
}

@keyframes slide{
	from{
		left:800px;
		opacity:0;
	}
	to{
		left:100px;
		opacity:1;
	}
}



#Introduction{
	font-size: 30px;
	font-weight: bold;
	background-color:white;
	text-align:center;
	padding: 10px;
	line-height: 60px;
}

#KoreaMap{
	width: 500px;
	height: 720px;
	background-color: #e1e6ec;
	
	
}














