@charset "UTF-8";

#headerBox{
	height: 60px;
	line-height: 60px;
	padding: 0;
}

#logoBox{
	float: left;
	height: 60px;
	line-height: 60px;
}
#logoImg{
	height: 60px;
}

#Introduction{
	font-size: 30px;
	font-weight: bold;
	background-color:white;
	text-align:center;
	padding: 10px;
	line-height: 60px;
}

#KoreaMap{
	width: 500px;
	height: 720px;
}

.search{
  text-align:right;
  width: 100%;
  height: 50px;
}
.search input {
  font-size: 18px;
  border:3px solid #bfeaff; 
  border-radius: 15px;
}
.search button {
  font-size: 18px;
  border: none;
  background-color: #bfeaff; 
  width: 50px;
  height: 30px;
  border-radius: 15px;
  color: #ffffff; 
  cursor: pointer;
}














