@charset "UTF-8";

body {padding:50px;
	/* background-color:#EFF3FC; */
}
h2{
	color:#392D9E;
}
.login ul.top{
	text-align:center;
}
.login li{
	list-style:none;
	font-family:nanumgothic;
	padding:0 0 9px;
}
.login .top li label{
	display:inline-block;
	width:70px;
	font-size: 16px;
	font-weight:bold;
	color:grey;	
}
#inputId, #inputPw{
	width:300px;
	height:50px;
	
}

.login .top li.save label{
	
	font-weight:normal;
	font-size:12px;
		
}
input[type="checkbox"]{
	position:relative;
	top:3px;
}
input[type="submit"]{
	text-decoration:none;
	width:376px;
	height:50px;
	border:solid 1px #033463;
	border-radius:5px;
	line-height:50px; 
	font-size:18px;
	font-weight:bold;
	color:#fff;
	background-color:#392D9E;
	
}

.login ul.bottom {
	text-align:center;
}
.login .bottom li {
	display:inline-block;
	text-align:center;
	font-size:12px;
	
}
.login .bottom li a{
	text-decoration:none;

}