@charset "UTF-8";

/* menu.css */

/*  모든 <ul> 태그에 적용 */
#topMenuBox{
	float: right;
	font-weight: bold;
	padding-right: 10px;
	text-decoration:none;
	margin:0;
}
#nav{
 	background:#1C2938;
 }
 
 #mainMenuBox{
 	display:flex;
 	justify-content:space-around;
 	align-item:center;
 	height:45px;
 	
 	
 }
 
 #mainMenuBox a{
 	font-size:20px;
 	color:#fff;
 	text-decoration:none;
 	position:relative;
 	padding:6px 12px;
 }
 
 #mainMenuBox a::after{
 	content:"";
 	position:absolute;
 	bottom:0;
 	left:50%;
 	transform:translateX(-50%);
 	width:0;
 	height:4px;
 	background:#D8EBFF;
 	transition:all .5s ease-out;
 }
 
 #mainMenuBox a:hover::after{
 	width:100%;
 }
