<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spring_boot.project.dao.IFestivalDAO">
  	<resultMap id="fesResult" type="com.spring_boot.project.model.FestivalVO" >
  		<result property="fesNo"  column="fesNo"  />
  		<result property="fesName"  column="fesName"  />
  		<result property="fesDescript"  column="fesDescript"  />
  		<result property="fesFirst"  column="fesFirst"  />
  		<result property="fesLast"  column="fesLast"  />
  		<result property="regionNo"  column="regionNo"  />
  	</resultMap>
  
  <!-- 카테고리별 상품 조회 -->
  <select id="regListFestival" parameterType="string" resultMap="fesResult">
  		SELECT * FROM festival WHERE ctgId=#{ctgId} ORDER BY fesNo
  </select>
  
    <!-- 상품 상세 조회 : 상품 번호(fesNo) 전달 받아서 상품 정보(FestivalVO) 반환-->
  <select id="detailViewFestival" parameterType="string" 
  												   resultType="com.spring_boot.project.model.FestivalVO">
  		SELECT * FROM festival WHERE fesNo = #{fesNo}
  </select>
  
  
  </mapper>
  
  
  
  
  
  